/******
* colors:
* background, border: pictorial carmine:#C4004A;
* small background,div:light sea green:#218FA3;
* fonts:purple taupe:#494445;
* small fonts: silver chalice: #B5BOA9;
* background neutral: white: #FFFFFF;
*/


body{
    background-color:#FFFFFF;;
}

.navbar{
    min-height: 33px ! important;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #c4004a
}
.navbar-nav, .nav-item, .nav-link, .navbar-brand{
    padding-top:-5px;
    padding-bottom: 0;
    height: 33px;
}
.navbar {
    background-color: #c4004a;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-item {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-item a:hover,
  .navbar .navbar-item a:focus {
    color: #ffffff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #c4004a;
  }
  .navbar .navbar-toggle {
    border-color: #c4004a;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #c4004a;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }
  .btn  {
      color:white;
  }
  .main-color-bg{
    background-color: #c4004a;
    border-color: #dc3545;
    color:#ffffff;
  }
  .container{
      max-width: 720px;
      height: 187px;
      padding-top: 95px;
      padding-right:90px;  
  }
  /*HEADER STYLE*/

  #header{
    background: #dc3545;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  @media screen and(max-width:800){
    #header, #header.dropdown-create {
      width: 100%;
    }
  }
  #header.dropdown-create{
    padding-top: 10px;
  }
  #header .fas{
    padding-left:100px;
  }

  /* BREADCRUMB*/
  .breadcrumb{
    background:#b0b2b4;
    color:#525353; 
  }
  .breadcrumb a{
    color:#525353;
  }
   a .main-color-bg{
    background-color: #c4004a;
    border-color: #dc3545;
    color:#ffffff;
  }


  /* SECTION MAIN*/
   .list-group{
     padding-bottom:15px;
   }
   .well{
      background-color:#f4f7fa;
      border: 2 solid #e5e8ea;
      border-radius: 0;
      text-align: center;
      padding-top: 20px;
   }
  /* Progress bar */
  .progress-bar{
    background-color: #b0b2b4;
    color: #525353;
  }