/******
* colors:
* background, border: pictorial carmine:#C4004A;
* small background,div:light sea green:#218FA3;
* fonts:purple taupe:#494445;
* small fonts: silver chalice: #B5BOA9;
* background neutral: white: #FFFFFF;
*/


body{
    background-color:#FFFFFF;;
}

.navbar{
    min-height: 33px ! important;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #c4004a
}
.navbar-nav, .nav-item, .nav-link, .navbar-brand{
    padding-top:-5px;
    padding-bottom: 0;
    height: 33px;
}
.navbar {
    background-color: #c4004a;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-item {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-item a:hover,
  .navbar .navbar-item a:focus {
    color: #ffffff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #c4004a;
  }
  .navbar .navbar-toggle {
    border-color: #c4004a;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #c4004a;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }
  .btn  {
      color:white;
  }
  .main-color-bg{
    background-color: #c4004a;
    border-color: #dc3545;
    color:#ffffff;
  }
  .container{
      max-width: 720px;
      height: 187px;
      padding-top: 95px;
      padding-right:90px;  
  }
  /*HEADER STYLE*/

  #header{
    background: #dc3545;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  @media screen and(max-width:800){
    #header, #header.dropdown-create {
      width: 100%;
    }
  }
  #header.dropdown-create{
    padding-top: 10px;
  }
  #header .fas{
    padding-left:100px;
  }

  /* BREADCRUMB*/
  .breadcrumb{
    background:#b0b2b4;
    color:#525353; 
  }
  .breadcrumb a{
    color:#525353;
  }
   a .main-color-bg{
    background-color: #c4004a;
    border-color: #dc3545;
    color:#ffffff;
  }


  /* SECTION MAIN*/
   .list-group{
     padding-bottom:15px;
   }
   .well{
      background-color:#f4f7fa;
      border: 2 solid #e5e8ea;
      border-radius: 0;
      text-align: center;
      padding-top: 20px;
   }
  /* Progress bar */
  .progress-bar{
    background-color: #b0b2b4;
    color: #525353;
  }
  .dashboard-counts strong{
    font-size:0.9 em;
    font-weight:500;
    color:#525353;
    display:block;
  }
  .count-number{
    font-size: 2.2.em;
    font-weight: 300;
    box-sizing: border-box;
    width: 100px;
    height: 52px;
  }
  .widget-div{
    margin-left: 20px;
    padding-left: 50px;
    margin-right: 120px;
    padding-right: 100px;
  }
  .count-title{
    font-size: 1.5 em;
    border-radius: 2px;
    margin-right: 150px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 50px;
  }
  .count-title span{
    font-size:0.8em;
    color: #525353;
    display: block;
  }
  .far{
    display: inline-block;
    font-style:normal;
    text-rendering: auto;
    line-height: 1;
    box-sizing: border-box;
    margin-left:15px;
    padding-left: 15px;

  }
  .text-uppercase{
    letter-spacing: 0.2em;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-left:15px;

  }
  /* css list to do*/
  .display{
    margin-left: 10px;
    font-size:20px;
    font-weight: 400;
    line-height: 1.1;
    margin-top:10px;

  }
  .list-to-do{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  .card-to-do{
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    height: 100%;
    border:0 solid #eee;
    border-radius:2px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width:0;
    word-wrap: break-word;
    box-sizing: border-box;
  }
  .p-to-do{
    columns: #888888;
    font-size:0.75 rem;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 1 rem;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
  }
  .check-list{
    margin-top: 20px;
    margin-left:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .align-items-center{
    align-items: center;
  }
  .form-control-custom{
   color: #dddddd;
    width: 1px;
  }
 


  #input {
    box-sizing: border-box;
    padding: 10px;
    background-color:#464444;
  }
  .label-list-to-do{
    font-size:15px;
    font-weight: 400;
    margin-bottom:10px;
    margin-left:10px;
    padding-left:5px;
    padding-top: 5px;
    position: relative;
  }
  #input .form-control-custom + label{
    font-size: 0.75 rem;
    margin-bottom: 0;
    margin-left: 0;
    color: #999999;
    padding-left: 25px;
    padding-top: 2px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .label-list-to-do ::after, ::before{
    box-sizing: border-box;
  }

  /* css pie chart*/
  #imgPChart{
    height: 200px;
    width: 200px;
    align-items: center;
    margin-left: 15px;
  }
  .pie-chart{
    width: 100%;
    margin-top:30px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
  }
  .project-progress{
    background: #FFFFFF;
    margin:0px;
    padding:0px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    height: 100%;
    border:1px solid #eee;
    margin-bottom: 30px;
    border-radius: 0%;
    display: flex;
  }
  .h4-pie-chart{
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 400;
  }
  .p-chart{
   margin-left: 15px;
   font-size: 1.0rem;
   box-sizing: border-box;
   word-wrap: break-word;
   line-height: 1.5;
  }
  .display h4 lineChart{
    margin-top: -23px;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    font-weight: 400;
  
  }
  .pie-chart-d{
    position: relative;
    width: 300px;
    height: 300px;
    max-width: 100%;
    margin:0 auto;
    word-wrap: break-word;
  }

  


  /* line-chart style*/
  .align-self-report{
    margin-bottom: 27px;
  }
  .card-sales-report{
    background:#ffffff;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0,0,0.1);
    height: 100%;
    border: 1px solid #eee;
    border-radius: 0;
    margin-bottom: 30px;
    margin-top: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }

  /*STATISTIC SECTION*/
  .statisitic{
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;  
  }
  .container-fluid::after, ::before{
    box-sizing: border-box;
  }
  .statisitic-s{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-statistic-s{
    position: relative;
    width: 100%;
  }
  .card-statistic-s{
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border: 1 solid #cfcaca;
    box-shadow: 1px 1 px 2px #cfcaca; 
  }
  .icon-statistic{
    font-size: 3.5rem;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .icon{
    font-size: 0.5em;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    font-family:"Roboto",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }
  .fas fa-chart-line{
    transform: translateY(4px);
    display: inline-block;
    box-sizing: border-box;
    font-size: 2.5em;
    text-align: center;
    word-wrap: break-word;
  }
  .number{
    font-size: 0.8em;
    color: #525353;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.5;
  }
  .text-statisitic{
    font-size: 0.6em;
    color: #33b35a;
  }
  strong{
    font-weight: bolder;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
  }
  .statisitic-p{
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    line-height: 1.4;
    word-wrap: break-word;
    box-sizing: border-box;
  }
  .col-monthly{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .monthly-card{
    box-sizing: border-box;
    height: auto;
    margin-bottom: 50px;
    margin-top: 31px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cfcaca;
    box-shadow: 1px 1px 1px rgb(175, 175, 175);
  }
  .h4-monthly{
    margin-bottom: 20px;
    
    font-size: 20px;
    font-family: inherit;
    font-weight: 400;
    color: #212529;
  }
  .row-monthly{
    align-items: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
  }
  .col-small-1{
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing:border-box;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
  }
  .gmpc{
    height: 200px;
    width: 200px;
    border-right: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px !important;
    padding: 0;
    position: relative;
    align-items: center !important;
    justify-content: center;
    box-sizing: border-box;
  }
  .gmpc-percent-text{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    top: 50%;
    left:80%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box; 
  }
  .img-circle{
    width: 100%;
    max-width: 200px;
    border: none;
    background-color: transparent;
    text-align: center;
    margin-left: 100px;
  }
  .col-currently{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    columns: #212521;
  }
  .currenthly-text{
    box-sizing: border-box;
    display: block;
    font-size: 25px;
    color: #33b35a;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
  }
  .currenthly-small{
    font-size: 0.85rem;
    font-weight: 300;
  }
  
  /*https://demo.bootstrapious.com/dashboard/1-4-5/*/