#content-area{
    margin-left: 420px;
    padding: 15px;
}
.heading h1{
    color:purple;
    font-size:1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.heading p{
    color:grey;
    font-size:0.8rem;
    margin-bottom: 10px;
}

.card{
    background: aqua;
    border-radius: 5px;
    padding: 0px;
    overflow:auto; 

}
.cards{
    overflow: auto;
    margin-bottom: 15px;
}
.col-md-4{
    width: 33%;
    padding: 0 15px;
    display: inline-block;
    background: pink;
}
.col-md-3{
  width: 25%;
  padding: 0 15px;
  display: inline-block;
  background: yellow;
  
}
.col-md-9{
    widows: 10%;
    padding: 0 15px;
    display: inline-block;
    background: rosybrown;
}
.cards .user-img{
     background:no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     width: 100px;
     height: 100px;
     border-radius:50%;
     margin: 0 auto;
}
.user-name{
    font-size:1rem;
    color:purple;
    display: block;
    text-align: center;
    margin: 10px 0;

}
.user-title{
    display:block;
    font-size:0.8rem;
    text-align: center;
    margin:10px 0;
}
.education{
    font-size:0.8rem;
    display: inline-block;
    color: gray;

}
.schools{
    font-size:0.8rem;
    margin-left: -2px;
}
h6{
    font-size:0.7rem;
}
.date{
    font-size: 1.3rem;
    display:block;
    border-left: 5px solid green;
    position: relative;
    left: -15px;
    padding:5px 15px;
    margin:20px 0;
}
.job-type{
    display: block;
    margin-left: 11px;
}
