
/*COLOR SCHEME
*pictoral carmen:#C4004A;
*light sea green:#218FA3;
*purple taupe:#494445;
*silver chalice:#b5b0a9;
*white:e8e8e8;

dark background: grey dark:#EAEDF3;
dark font: grey dark font: #6C7882;
light font 1: #BBC1CD;
light font 2:#A5ADBA;

*/
#content-area{
    margin-left: 420px;
    padding: 15px;
    background:#b5b0a9;
    border-radius:1%; 
}
.heading h1{
    color:#C4004A;
    font-size:1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.heading p{
    color:grey;
    font-size:0.8rem;
    margin-bottom: 10px;
}

.card{
    background:#e8e8e8;
    border-radius: 5px;
    padding: 0px;
    overflow:auto; 
}
#content4{
        min-width: 0;
        word-wrap: break-word;
        color: #ed2cf2;
        border: 1px solid rgba(221, 54, 54, 0.1);
        border-radius: .25rem;
        margin-right: 336px;
        margin-left: 369px;
        width: 209px;
        height: 300px;
        margin-top: 300px;
        margin-bottom: 400px;
}
.cards{
    overflow: auto;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
}

#content4{
    background-color:#f1f1f1;
    padding: 50px 10px;
}
.col-md-2{
    width: 50%;
    padding: 0 15px;
    display: inline-block;
    background:#e8e8e8;
}
.col-md-4{
    width: 33%;
    padding: 0 15px;
    display: inline-block;
    background:#e8e8e8;
    border-radius: 5%;
}
.col-md-3{
  width: 25%;
  padding: 0 15px;
  display: inline-block;
  background:#e8e8e8;
  border-radius: 5%;
  
}
.col-md-9{
    widows: 10%;
    padding: 0 15px;
    display: inline-block;
    background:#e8e8e8;
}
.col-md-10{
    widows: 10%;
    padding: 0 15px;
    display: inline-block;
    background:#e8e8e8;
}
.cards .user-img{
     background:no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     width: 100px;
     height: 100px;
     border-radius:50%;
     margin: 0 auto;
}
.user-name{
    font-size:1rem;
    color:purple;
    display: block;
    text-align: center;
    margin: 10px 0;

}
.user-title{
    display:block;
    font-size:0.8rem;
    text-align: center;
    margin:10px 0;
}
.education{
    font-size:0.8rem;
    display: inline-block;
    color: gray;

}
.schools{
    font-size:0.8rem;
    margin-left: -2px;
}
h6{
    font-size:0.7rem;
}
.date{
    font-size: 1.3rem;
    display:block;
    border-left: 19px solid green;
    position: relative;
    left: -15px;
    padding:5px 40px;
    margin:20px 0;
}
.job-type{
    display: block;
    margin-left: 11px;
    background: orange;
    width: 20px;
    height: 20px;
    font-size:0.6rem;
    color: white;
    padding: 5px;
    display:inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.location{
font-size: 0.8rem;
font-weight: 300;
display:block;
margin-bottom: 0.5rem;


}


.position{
    font-size: 0.8rem;
    font-weight: 500;
    display:block;
}
.time{
    font-size: 0.8rem;
    font-weight: 300;
    display:block;
    color:#494445 ;
}

